@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-style: normal;
}

h1 {
    width: 500px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 107px;
    line-height: 75%;
}

h2{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin: 0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    ;
}

.subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

div {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}

.navbar {
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: #000000;
}

nav ul {
    margin: 0;
}
  
.navbar__wrap {
    display: flex;
    height: 100%;
}
  
.hamb {
    display: none;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
  
.menu > li > a {
    text-decoration: none;
}
  
.navbar__wrap .menu {
    display: flex;
}
  
.navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
}
  
.navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #FFFFFF;
    font-style: normal;
}
  
.navbar__wrap .menu > li > a:hover {
    color: #F9804B;
}

.created {
    padding-left: 250px;
}

.watch-online {
    background: url(images/panda-main.png) no-repeat; 
    padding: 350px;
}

.btn-watch-online {
    margin-left: 120px;
}

.btn {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    padding: 15px 70px;
    color: #FFFFFF;
    border: none;
    display:block;
    position: relative;
    margin:0 auto;
}

.btn:hover {
    background: linear-gradient(113.96deg, #df622d 1.49%, #f0850a 101.44%);
}

.orange-ball {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.watch-favorite {
    color: #FFEE2E;
}

.backstage {
    padding: 140px 0;
    justify-content: space-between;
}

.backstage-text {
    width: 440px;
    padding: 50px 0 50px 55px;
}

.flower1 {
    width: 203px;
    height: 605px;
    background: url(images/flower_foto1.png) no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.block-flower2 {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.flower2 {
    width: 300px;
    height: 290px;
    background: url(images/flower_foto2.png) no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.flower3 {
    width: 300px;
    height: 290px;
    background: url(images/flower_foto3.png) no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slideshow-container {
    max-width: 1158px;
    position: relative;
    margin: auto;
    padding: 50px 0;
}
  
.mySlides {
    display: none;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -33px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.img-slide {
    padding: 10px;
    width: 366px;
}

.bamboo-cap {
    width: 600px;
    padding: 50px 0 50px 140px;
}

.pick-and-feed {
    background: linear-gradient(
        315.75deg,
        rgba(254, 210, 144, 0.7) 30.06%,
        #febdab 100.95%,
        rgba(254, 210, 144, 0.7) 106.36%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );
    opacity: 0.9;
    display: flex;
    justify-content: center;
    padding: 69px 220px 100px 220px;
}
  
.pick-and-feed__wrap {
    padding: 41px 0 59px 0;
    width: 1160px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.pick-and-feed__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #fe9013;
  }
  
.pick-and-feed__text-box {
    width: 1061px;
    padding: 0 0 0 99px;
}
  
.pick-and-feed__text-box-subtitle {
    margin: 30px 0 0 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  
    color: #333b41;
}
  
.pick-and-feed__text-box-text {
    margin: 39px 0 0 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333b41;
}
  
.pick-and-feed__text-box-text_lighter {
    margin: 11px 195px 0 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333b41;
}
  
.pick-and-feed__text-box-link {
    text-decoration: none;
    color: #333b41;
    border-bottom: 1px solid #fe9013;
    padding: 0 0 1px 0;
}
  
.pick-and-feed__subtitle {
    align-self: center;
    margin: 60px 0px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
  
    color: #333b41;
}
  
.pick-and-feed__instraction {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.pick-and-feed__instraction-scheme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 31px;
}
  
.pick-and-feed__instraction-element {
    width: 168px;
    height: 168px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f9804b;
    box-sizing: border-box;
}
  
  .pick-and-feed__instraction-logo {
  }
  
.pick-and-feed__instraction-arrow {
    width: 69px;
    height: 36px;
    align-self: center;
}
  
.pick-and-feed__instraction-arrow_green {
    display: none;
}
  
.pick-and-feed__instraction-scheme-description {
    display: flex;
    flex-direction: row;
    padding: 30px 0 0 0;
    justify-content: center;
    gap: 130px;
}
  
.pick-and-feed__instraction-text {
    margin: 0;
    width: 168px;
    height: 46px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333b41;
}
  
.pick-and-feed__feed-button {
    width: 298px;
    height: 54px;
    padding: 00 0 0;
    margin: 60px 0 0 0;
  
    background-color: #f9804b;
    border-radius: 25px;
    border: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    align-self: center;
    cursor: pointer;
}
  
.pick-and-feed__feed-button:hover {
    background-color: #e47209;
}
  
.testimonials {
    padding: 160px 220px 180px 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
  
.testimonials__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #333b41;
}
  
.testimonials__wrap {
    margin: 0;
    padding: 47px 0 0 0;
    list-style: none;
    display: flex;
    gap: 30px;
}
  
.testimonials__item {
    gap: 10px;
    width: 268px;
    height: 391px;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 19px 16px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
  
    background: linear-gradient(#f1f3f2, #f1f3f2) padding-box,
      linear-gradient(
          315.75deg,
          rgba(254, 189, 171, 0.74) 30.06%,
          rgba(243, 169, 248, 0.66) 50.74%,
          #e0d8f0 80.49%,
          #eaf7fe 127.9%,
          #eaf7fe 149.54%
        )
        border-box;
}
  
.testimonials__about-user {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
  
.testimonials__user-avatar {
    width: 37px;
    height: 37px;
}

.testimonials__user {
    display: flex;
    flex-direction: column;
}
  
.testimonials__user-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.testimonials__user-info {
    display: flex;
    margin: 1px 0 0 0;
}
  
.testimonials__text {
    margin: 0;
}

.testimonials__user-info-dote {
    margin: 0 5px 0 6px;
}
  
.testimonials__user-info_gray-text {
    align-self: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #bdbdbd;
    overflow: hidden;
}
  
.testimonials__scroll {
    cursor: pointer;
    padding: 0;
    margin: 20px 0 0 0;
    align-self: center;
    width: 599px;
    height: 8px;
    border-radius: 5px;
    border: 0.5px solid transparent;
    background: linear-gradient(#f1f3f2, #f1f3f2) padding-box,
      linear-gradient(
          315.75deg,
          rgba(254, 189, 171, 0.74) 30.06%,
          rgba(243, 169, 248, 0.66) 50.74%,
          #e0d8f0 80.49%,
          #eaf7fe 127.9%,
          #eaf7fe 149.54%
        )
        border-box;
}
.testimonials__scroll-wrap:first-child {
    background-color: #f9804b;
    display: block;
    width: 20%;
    height: 100%;
    border-radius: 5px;
}
  
.testimonials__feedback-button {
    padding: 0;
    margin: 32px 0 0 0;
    text-align: center;
    width: 298px;
    height: 54px;
    background: #f9804b;
    border-radius: 5px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  
    text-align: center;
    text-transform: uppercase;
  
    color: #ffffff;
    cursor: pointer;
}
  
.testimonials__feedback-button:hover {
    background: #e47209;
}
  
.testimonials__decoration {
    position: absolute;
    bottom: -133px;
    right: 0;
}
  
.footer {
    background: #111115;
    padding: 41px 220px 50px 220px;
}
  
.footer__grid-wrap {
    display: grid;
    grid-template-areas:
      'logo . form'
      'button . .'
      'networks navigator designer';
}

.footer__main-logo-link {
    grid-area: logo;
    text-decoration: none;
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 2px;
    width: 82px;
    height: 52px;
  
    display: flex;
    align-items: center;
}

.footer__main-logo {
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
}

.footer__main-logo-img {
    position: absolute;
    top: 27px;
    left: 10px;
}
  
.footer__subscribe-wrap {
    grid-area: form;
    align-self: end;
    justify-self: end;
}
  
.footer__subscribe-lable {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }

.footer__subscribe-form {
    padding: 14px 0 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__subscribe-input {
    padding: 10px;
    box-sizing: border-box;
    width: 228px;
    height: 42px;
    border-radius: 2px;
    border: 0.7px solid #f9804b;
    background: #111115;
    color: #bdbdbd;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.footer__subscribe-submit-button {
    width: 129px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #d31414;
    border: 0.7px solid #d31414;
  
    background: #f1f3f2;
    border-radius: 5px;
    cursor: pointer;
}
  
.footer__subscribe-input:valid ~ .footer__subscribe-submit-button {
    border: 1px solid #333b41;
    border-radius: 5px;
    color: #000000;
}
  
.footer__donate-button {
    margin: 35px 0 0 0;
    grid-area: button;
    align-self: center;
    width: 298px;
    height: 54px;
    border-radius: 5px;
    background: #f9804b;
    cursor: pointer;
    border: 0;
}

.footer__donate-button-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
  
.footer__donate-button:hover {
    background: #e47209;
}
  
.footer__networks-wrap {
    margin: 46px 0 0 0;
    grid-area: networks;
    list-style: none;
    padding: 0;
    align-self: end;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.footer__networks {
    display: flex;
    gap: 12px;
}
  
.footer__networks-logo-wrap {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__networks-facebook {
    background-image: url('../../images/faceebook.svg');
}
  
.footer__networks-twitter {
    background-image: url('../../images/tweeter.svg');
}
.footer__networks-instagram {
    background-image: url('../../images/insta.svg');
}

.footer__networks-youtube {
    background-image: url('../../images/youtube.svg');
}
  
.footer__networks-logo {
    align-self: center;
}
  
.footer__networks {
    text-decoration: none;
}

.footer__networks-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}
  
.footer__navigator {
    grid-area: navigator;
    align-self: end;
    justify-self: end;
    padding: 0 0 0 37px;
}

.footer__navigator-wrap {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 58px;
}

.footer__navigator-item-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}
  
.footer__navigator-item-link:hover {
    color: #f9804b;
}
  
.footer__navigator-item-link_active {
    cursor: default;
    color: #f9804b;
}

.footer__designer {
    justify-self: end;
    align-self: end;
    grid-area: designer;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}
  
.footer__designer-copyright {
    margin: 10px 0 0 0;
}

.donate-main {
    background: linear-gradient(
        315.75deg,
        rgba(254, 210, 144, 0.7) 30.06%,
        #febdab 100.95%,
        rgba(254, 210, 144, 0.7) 106.36%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );
    opacity: 0.9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 220px 180px 220px;
}

.donate-main-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #ffffff;
}
  
.donate-main-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-top: 10px;
    color: #ffffff;
}
  
.donate-main-subtitle {
    margin-top: 47px;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #fe9013;
}
  
.donate-main__pick-and-feed {
    margin-top: 60px;
    padding: 40px 92px;
    box-sizing: border-box;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.donate-main__pick-and-feed-title {
    margin-right:12px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #fe9013;
}
  
.donate-main__pick-and-feed-subtitle {
    margin-top: 22px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px; 
    color: #333b41;
}
  
.donate-main__donate-container {
    padding: 60px 0 0 0;
    justify-content: center;
}
  
.donate-main__counter {
    display: flex;
    justify-content: center;
    gap: 64px;
}
  
.donate-main__amount-wrap {
    display: flex;
    margin: 0 0 0 -14px;
    gap: 11px;
}

.donate-main__amount {
    display: flex;
    flex-direction: column;
    gap: 11px;
    justify-content: center;
    padding: 60px 0 0 0;
}

.donate-main__amount-number {
    font-weight: 500;
    font-size: 72px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.donate-main__amount-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #333b41;
}

.donate-main__counter-icon {
    padding: 31px 0 0 0;
    font-size: 38px;
    align-self: center;
    color: #333b41;
}

.donate-main__slider-wrap {
    padding: 48px 0 0 0;
}
  
.donate-main__slider {
    position: relative;
}

.donate-main__slider-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    text-align: center;
}

.donate-main__slider-input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.donate-main__slider-bar {
    height: 27px;
    box-sizing: border-box;
    background: #404950;
    border-radius: 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px 9px 26px;
}

.donate-main__slider-line {
    border: 1px solid #72828e;
    margin: 0 0px 0 42px;
    width: 885px;
    z-index: 5;
    cursor: pointer;
    position: absolute;
    bottom: 59px;
}
  
.donate-main__slider-label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.donate-main__slider-second {
    width: 22.95px;
    height: 22.95px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#r1:checked ~ .donate-main__slider-numbers .donate-main__slider-number:nth-child(1),
#r2:checked ~ .donate-main__slider-numbers .donate-main__slider-number:nth-child(2),
#r3:checked ~ .donate-main__slider-numbers .donate-main__slider-number:nth-child(3),
#r4:checked ~ .donate-main__slider-numbers .donate-main__slider-number:nth-child(4),
#r5:checked ~ .donate-main__slider-numbers .donate-main__slider-number:nth-child(5),
#r6:checked ~ .donate-main__slider-numbers .donate-main__slider-number:nth-child(6),
#r7:checked ~ .donate-main__slider-numbers .donate-main__slider-number:nth-child(7),
#r8:checked ~ .donate-main__slider-numbers .donate-main__slider-number:nth-child(8) {
    color: #fe9013;
}
  
#r1:checked ~ .donate-main__slider-bar .donate-main__slider-label:nth-child(1),
#r1:checked
    ~ .donate-main__slider-bar
    .donate-main__slider-label:nth-child(1)
    .donate-main__slider-second {
    border: 1px solid #fe9013;
}

#r2:checked ~ .donate-main__slider-bar .donate-main__slider-label:nth-child(2),
#r2:checked
    ~ .donate-main__slider-bar
    .donate-main__slider-label:nth-child(2)
    .donate-main__slider-second {
    border: 1px solid #fe9013;
}

#r3:checked ~ .donate-main__slider-bar .donate-main__slider-label:nth-child(3),
#r3:checked
    ~ .donate-main__slider-bar
    .donate-main__slider-label:nth-child(3)
    .donate-main__slider-second {
    border: 1px solid #fe9013;
}

#r4:checked ~ .donate-main__slider-bar .donate-main__slider-label:nth-child(4),
#r4:checked
    ~ .donate-main__slider-bar
    .donate-main__slider-label:nth-child(4)
    .donate-main__slider-second {
    border: 1px solid #fe9013;
}

#r5:checked ~ .donate-main__slider-bar .donate-main__slider-label:nth-child(5),
#r5:checked
    ~ .donate-main__slider-bar
    .donate-main__slider-label:nth-child(5)
    .donate-main__slider-second {
    border: 1px solid #fe9013;
}

#r6:checked ~ .donate-main__slider-bar .donate-main__slider-label:nth-child(6),
#r6:checked
    ~ .donate-main__slider-bar
    .donate-main__slider-label:nth-child(6)
    .donate-main__slider-second {
    border: 1px solid #fe9013;
}

#r7:checked ~ .donate-main__slider-bar .donate-main__slider-label:nth-child(7),
#r7:checked
    ~ .donate-main__slider-bar
    .donate-main__slider-label:nth-child(7)
    .donate-main__slider-second {
    border: 1px solid #fe9013;
}

#r8:checked ~ .donate-main__slider-bar .donate-main__slider-label:nth-child(8),
#r8:checked
    ~ .donate-main__slider-bar
    .donate-main__slider-label:nth-child(8)
    .donate-main__slider-second {
    border: 1px solid #fe9013;
}
  
.donate-main__slider-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffee2e;
    z-index: 7;
}

.donate-main__slider-numbers {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin: 9px 0 0 0;
}

.donate-main__slider-number {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333b41;
}

.donate-main__slider-number_type_2 {
    margin: 0 0px 0 -18px;
}

.donate-main__slider-number_type_3 {
    margin: 0 0px 0 -18px;
}

.donate-main__slider-number_type_4 {
    margin: 0 0px 0 -35px;
}

.donate-main__slider-number_type_5 {
    margin: 0 -10px 0 0px;
}

.donate-main__slider-number_type_6 {
    margin: 0 0px 0 11px;
}

.donate-main__slider-number_type_7 {
    margin: 0 0px 0 -3px;
}

.donate-main__slider-number_type_8 {
    margin: 0 25px 0 0px;
}
  
.donate-main__payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}
  
.donate-main__payment-amount-input {
    width: 268px;
    padding: 16px 0px 16px 9px;
    margin: 0 0 0 15px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    border: 1px solid #929699;
    border-radius: 2px;
}
  
.donate-main__payment-amount-logo {
    width: 10px;
    height: 20px;
}
  
input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}
  
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    display: none;
}
  
.donate-main__payment-form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.donate-main__payment-radio-wrap {
    padding: 25px 12px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
  
.donate-main__payment-radio {
    display: flex;
    flex-direction: row;
  
    gap: 10px;
    position: relative;
}
  
.donate-main__payment-radio-input {
    appearance: none;
    position: absolute;
}
  
.donate-main__payment-radio-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.donate-main__payment-radio-label::before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid #fe9013;
    border-radius: 50px;
}
  
.donate-main__payment-radio-label::after {
    content: '';
    width: 16px;
    height: 16px;
    background-color: #4b9200; 
    border: 0;
    border-radius: 50px;
    position: absolute;
    top: 3;
    left: 0;
    z-index: 2;
    opacity: 0;
}
  
.donate-main__payment-radio-input:checked + .donate-main__payment-radio-label::after {
    opacity: 1;
}
  
.donate-main__payment-button {
    width: 298px;
    height: 54px;
    padding: 0 0 0 8px;
    margin: 27px 0 0 0;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    align-self: center;
    cursor: pointer;
}
  
.donate-main__payment-button:hover {
    background-color: #e47209;
}
  
.donate-main__share-text {
    padding: 30px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    align-self: center;
    color: #333b41;
}  

.social_link {
    width: 18px;
    height: 12.99px;
    padding: 5px;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media (max-width: 1000px) {
    .navbar__wrap .menu {
        display: none;
    }

    .navbar__wrap {
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
    }
  
    .hamb {
      display: flex;
      align-items: center;
    }
  
    .hamb__field {
      padding: 10px 20px;
      cursor: pointer;
    }
  
    .bar {
      display: block;
      width: 30px;
      height: 3px;
      margin: 6px auto;
      background-color: #fff;
      transition: 0.2s;
    }
  
    .popup {
      position: fixed;
      top: 75px;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      display: flex;
      transition: 0.3s;
    }
  
    .popup.open {
      left: 0;
    }
  
    .popup .menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 50px 0;
      overflow: auto;
    }
  
    .popup .menu > li {
      width: 100%;
    }
  
    .popup .menu > li > a {
      width: 100%;
      display: flex;
      padding: 20px;
      font-size: 20px;
      font-weight: bold;
      color: #3f3f3f;
    }
  
    .popup .menu > li > a:hover {
      background-color: rgba(122, 82, 179, 0.1);
    }
  
    .hamb__field.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamb__field.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamb__field.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    body.noscroll {
      overflow: hidden;
    }

    .created {
        padding-left: 0;
    }
}